doctype html
html
  head
    script(src="http://cdn.pubnub.com/pubnub.min.js", type='text/javascript')
    script(src='bower_components/angular/angular.js', type='text/javascript')
    script(src='bower_components/sopro-material/js/angular-material.js', type='text/javascript')
    script(src='bower_components/angular-animate/angular-animate.js', type='text/javascript')
    script(src="bower_components/pubnub-angular/lib/pubnub-angular.js", type='text/javascript')
    script(src='bower_components/jquery/dist/jquery.min.js', type='text/javascript')
    script(src='panic-main.js', type='text/javascript')
    block scripts


    link(href='bower_components/sopro-material/css/angular-material.css', rel='stylesheet')
    link(href='bower_components/sopro-material/css/sopro-material.css', rel='stylesheet')
    link(href='panic-main.css', rel='stylesheet')
    block stylesheets

  body(
  data-is-trusted=locals.isTrusted
  data-is-igb=locals.isIGB
  data-panic-received=locals.panicReceived
  data-pilot-name = locals.pilot.name || ""
  data-pilot-system = locals.pilot.system || ""
  ng-app="panicMain"
  ng-controller="panicMainCtrl"
  )
    div#darkBG(
      layout="vertical"
      layout-fill
    )
      if(!locals.isTrusted)
        div.banner.trustBanner(
        title="Trust..."
        ng-click="makeTrusted()"
        ng-show="!trusted && !nonIGB"
        ) Grant IGB trust to auto populate name and location: click here

        div.banner.refreshBanner.hidden(
        title="Refresh..."
        ng-click="refresh()"
        ) Click to refresh after granting trust

        div.banner.nonIGB.hidden(
        title="Designed for EVE's In Game Browser"
        ng-show='nonIGB'
        ) Best used in EVE's In Game Browser
      block body