div#overlay(layout="vertical")
  div(layout="vertical")
    div(layout="horizontal")
      label(for="pilotName") Name 
      input(
      id="pilotName"
      name="pilotName"
      ng-model="pilotName"
      )
    div(layout="horizontal")
      label(for="pilotSystem") Location
      input(
      id="pilotSystem"
      name="pilotSystem"
        ng-model="pilotSystem"
          )