extends layout
block append scripts
  script(src='panic.js', type='text/javascript')
block append stylesheets
  link(href='panic.css', rel='stylesheet')

block append body
  section#panic(
  ng-app="panic" 
  ng-controller="panicCtrl"
  layout="vertical"
  layout-fill
  )
    if(!locals.isTrusted)
      a.banner.trustBanner(
      title="Trust..."
      href="javascript:makeTrusted()"
      ) Welcome to PANIC. Click here to grant trust to this app.

      a.banner.refreshBanner.hidden(
      href="javascript:refresh()"
      title="Refresh..."
      ) Click to refresh after granting trust.

    a#panicButton(ng-click="panic($event)") PANIC
    section#text
      span.block#sent Your panic was sent...
      div#responses(ng-repeat="response in responses")
      if(locals.panicReceived)
      a.banner.panicReceivedBanner(
      href="javascript:hidePanicBanner()"
      title="Hide..."
      ) Your panic request was received. Standby for help!
