extends layout
block append scripts
  script(src='standby.js', type='text/javascript')
block append stylesheets
  link(href='standby.css', rel='stylesheet')

block append body
  section#standby(
  ng-controller="standbyCtrl"
  layout="vertical"
  layout-fill
  )
    div#statusContainer(
    flex
    layout="vertical" 
    layout-align="space-between"
    )
      //ng-hide="panicking.panicking"
      div#allClear(
      flex 
      )
        h1 All Clear
      //ng-hide="!panicking.panicking"
      div#panicInfo(
      flex 
      layout="vertical" 
      layout-align="equal-space"
      )
        h1 PANIC!
        span panicking = {{panicking.panicking}}
        span(block ng-model="panic.name")
        span(block ng-model="panic.time")
        span(block ng-model="panic.system")
        span(block ng-model="panic.msg")
    div#responseContainer(
    layout="horizontal"
    layout-padding
    )
      input#standDown(
      flex,
      type="button", 
      value="Stand Down", 
      ng-click="respond(false)"
      )
      input#sendBackup(
      flex,
      type="button", 
      value="Send Backup", 
      ng-click="respond(true)",
      )
