doctype html
html
  head
    script(src="http://cdn.pubnub.com/pubnub.min.js", type='text/javascript')
    script(src='bower_components/angular/angular.js', type='text/javascript')
    script(src='bower_components/sopro-material/js/angular-material.js', type='text/javascript')
    script(src='bower_components/angular-animate/angular-animate.js', type='text/javascript')
    script(src="bower_components/pubnub-angular/lib/pubnub-angular.js", type='text/javascript')

    script(type='text/javascript', src='bower_components/jquery/dist/jquery.min.js')
    script(src='standby.js', type='text/javascript')
    link(href='bower_components/sopro-material/css/angular-material.css', rel='stylesheet')
    link(href='bower_components/sopro-material/css/sopro-material.css', rel='stylesheet')

    script(type='text/javascript').
      function hidePanicBanner(){
        $('.panicReceivedBanner').hide();
      }
      $(document).ready(function(){
        //$('body').css('background-color', 'green')
      });
      function makeTrusted(){
        //href="javascript:CCPEVE.requestTrust('http://localhost:3000')"
        CCPEVE.requestTrust('http://localhost:3000');
        $('.trustBanner').hide();
        $('.refreshBanner').css('display', 'block');
      }
      function refresh(){
        window.location.reload();
      }
    style.
      .banner{
        display: block;
        background-color: #E83F0C;
        color: white;
        font-family: Roboto, Arial, sans-serif;
        text-align: center;
        min-height: 60px;
        line-height: 60px;
        border: 1px white solid;
        border-radius: 4px;
        margin: 4px;
        cursor: pointer;
      }

      .hidden{
        display: none;
      }
      #panicInfo{
      background-color: red;
      }

  body(
  ng-app="standby" 
  ng-controller="standbyCtrl"
  layout="vertical"
  layout-fill
  data-is-trusted=locals.isTrusted
  data-panic-received=locals.panicReceived
  data-pilot-name = locals.pilot.name || ""
  data-pilot-system = locals.pilot.system || ""
  )
    if(!locals.isTrusted)
      a.banner.trustBanner(
      title="Trust..."
      href="javascript:makeTrusted()"
      ) Welcome to PANIC. Click here to grant trust to this app.

      a.banner.refreshBanner.hidden(
      href="javascript:refresh()"
      title="Refresh..."
      ) Click to refresh after granting trust.

    div#container(layout="vertical" flex)
      div#statusContainer(flex layout="vertical" layout-align="space-between")
        div#allClear(flex ng-hide="panicking")
          h1 All Clear
        div#panicInfo(flex ng-hide="!panicking")
          span(block ng-model="pilot.name")
          span(block ng-model="panicTime")
          span(block ng-model="pilot.system")
      div#responseContainer(layout="horizontal" layout-padding)
        input(flex type="button", value="Stand Down", ng-click="stopPanicking({backup: false})")
        input(flex type="button", value="Send Backup", ng-click="stopPanicking({backup: true})")
        input(flex type="button", value="Send Backup", ng-click="togglePanic()")