extends layout
block append scripts
  script(src='standby.js', type='text/javascript')
block append stylesheets
  link(href='standby.css', rel='stylesheet')

block append body
  section#standby(
  ng-app="standby" 
  ng-controller="standbyCtrl"
  layout="vertical"
  layout-fill
  )
    if(!locals.isTrusted)
      div.banner.trustBanner(
      title="Trust..."
      ng-click="makeTrusted"
      ) Welcome to PANIC. This app requires IGB trust. Click here to grant it.

      div.banner.refreshBanner.hidden(
      ng-click="refresh"
      title="Refresh..."
      ) Click to refresh after granting trust.

    div#container(layout="vertical" flex)
      div#statusContainer(flex layout="vertical" layout-align="space-between")
        div#allClear(flex ng-hide="panicking")
          h1 All Clear
        div#panicInfo(flex ng-hide="!panicking")
          span(block ng-model="pilot.name")
          span(block ng-model="panicTime")
          span(block ng-model="pilot.system")
      div#responseContainer(layout="horizontal" layout-padding)
        input(flex type="button", value="Stand Down", ng-click="respond(false)")
        input(flex type="button", value="Send Backup", ng-click="respond(true)")
        input(flex type="button", value="Toggle Panic", ng-click="togglePanic()")